h1{
  color: #609916;
  text-align: center;
}
h2{
  color: #006098;
  font-style: oblique;
}
h4{
  color: yellow;
}
p a{
  color: #00ffff;
}
body{
  background-image: url("../images/final.jpeg");
  text-align: center;
  border-left: #e6e6ff 12px;
  border-right: #e6e6ffff 12px;
  padding: 8px;
}
p{
  color: yellow;
}
ul li .exam{
  color: green;
}
ul{
  align-items: center;
  color: #ccffff;
    list-style-type: none;
}
li{
  color: #ccffff;
  list-style-type: none;
}
.Hobbies{
  color: #ccffff;
}
h4{
  color: #006098;
}
